* {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.hero {
    display: grid;
    width: 450px;
    background-color: white;
    border: 2px solid brown;
    padding: 20px;
}

.hero__subtitle {
    font-weight: 600;
}

.hero__charactetistic {
    padding-left: 30px;
}

.hero__name {
    margin: auto;
    font-family: 'Lobster', cursive;   
}

.hero__img {
    padding-top: 20px;
    margin: auto;
}

.hero__button {
    width: 80px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
    background-color: gold;
    margin: auto;
}

.hero__img {
    width: 280px;
    height: 200px;
    margin-bottom: 10px;
}


    /* Рейтинг */
.rating {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: auto;
    padding-top: 20px;
}

.rating__star {
    width: 40px;
    height: 40px;
    background-color: rgba(128, 128, 128, 0.5);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 38% 35%);
    cursor: pointer;
}



.focus{
    background-color: gold;
}

.active {
    background-color: gold;
}

